body {
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
}

h1 {
    font-size: 16px;
    color: #003399;
}

#box-table-a {
    border-collapse: collapse;
    font-size: 12px;
    margin: 20px;
    text-align: left;
    width: 480px;
}
#box-table-a th {
    background: none repeat scroll 0 0 #B9C9FE;
    border-bottom: 1px solid #FFFFFF;
    border-top: 4px solid #AABCFE;
    color: #003399;
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
}
#box-table-a td {
    background: none repeat scroll 0 0 #E8EDFF;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid transparent;
    color: #666699;
    padding: 8px;
}
#box-table-a tr:hover td {
    background: none repeat scroll 0 0 #D0DAFD;
    color: #333399;
}
#box-table-b {
    border-bottom: 7px solid #9BAFF1;
    border-collapse: collapse;
    border-top: 7px solid #9BAFF1;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    margin: 20px;
    text-align: center;
    width: 480px;
}
#box-table-b th {
    background: none repeat scroll 0 0 #E8EDFF;
    border-left: 1px solid #9BAFF1;
    border-right: 1px solid #9BAFF1;
    color: #003399;
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
}
#box-table-b td {
    background: none repeat scroll 0 0 #E8EDFF;
    border-left: 1px solid #AABCFE;
    border-right: 1px solid #AABCFE;
    color: #666699;
    padding: 8px;
}